<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
    <add name="ORACLEDB"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=59161))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=Product;Password=qwert12345!;"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <!-- VS IIS Express Uri -->
    <add key="WebAPI_IIS_Express_Uri" value="http://localhost:3297/"/>
    <!-- End -->

    <!-- IIS Uri -->
    <add key="WebAPI_IIS" value="http://localhost/Memberships.WebAPI.3297/"/>
    <!-- End -->

    <add key="HeaderType" value="application/json" />
  </appSettings>
</configuration>